.body{
	background-color: #00FFEA;
}
.wrapper{
	width:1000px;
	height: 600px;
	margin: auto;
}
.header{
	width:100%;
	height: 200px;
}
.converter{
	width:90%;
	height: 200px;
	margin: auto;
}
.from{
	background-color: antiquewhite;
	float: left;
	width:350px;
	height:100px;
}
.to{
	background-color: antiquewhite;
	float: right;
	width: 350px;
	height: 100px;
	margin-left: 50px;
}
.heading{
	background-color: #9F9E9E;
	width: 100%;
	height: 50px;
}
.heading h1{
	font: bolder;
	text-align: center;
	line-height: 50px;
}
.list{
	margin-top: 10px;
}
.button{
	margin-top: 20px;
	width: 60px;
	height: 30px;
	margin-left: 70px;
}
.output{
	width: 200px;
	border:1px inset;
	background: white;
}

.show_table{
	width: 290px;
	margin: auto;
	margin-top: 600px;
	text-align: center;
	border: solid blue;

}
.h1{
	background: #009688;
	color: #FFF;
	text-align: center;
	
}