.body{
	background-color: #00FFEA;
}
.wrapper{
	width:1000px;
	height: 600px;
	margin: auto;
}
.header{
	width:60%;
	height: 200px;
	background: #A8D4FF;
}
.converter{
	width:60%;
	height: 120px;
	margin: auto;
	background: #FAFAD2	;
}
.from{
	background:antiquewhite;
	float: left;
	width:200px;
	height:120px;
}
.to{
	background-color: antiquewhite;
	float: right;
	width: 200px;
	height: 120px;
	margin-left: 50px;
}
.heading{
	/*background-color: #D8BFD8;*/
	width: 100%;
	height: 50px;
}
.heading h1{
	font: bolder;
	text-align: center;
	line-height: 50px;
}
.list{
	margin-top: 10px;
}
.button{
	margin-top: 20px;
	width: 60px;
	height: 30px;
	margin-left: 70px;
}
.output{
	width: 200px;
	border:1px inset;
	background: white;
}

.show_table{
	width: 330px;
	margin: auto;
	
	background: #E6E6FA;
}
.h1{
	background: #87CEFA;
	color: #FFF;
	text-align: center;
	
}