.wrapper{
	background-color: #FFF4FD;

}
.banner{
	background-color: #00C0FF;
	height: 60px;
}

.box{
	
	display: flex;
	height:230px;
	width: 850px;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #87CEFA;
}
.from, .to{
	width:350px;
	height:200px;
	background: #E6E6FA;
}

.choose{
	width: 350px;
	height: 60px;
	overflow: hidden;
	background: #0029AF;
	border: 1px solid #ccc;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-left: 20px;
}
.heading{
	width: 100%;
	height: 50px;

}
.heading h1{

	width: 850px;
	margin: auto;
	font-family: Arial;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color:black;
	background-color: #E6E6FA;
	margin-top: 21px;
}

.heading h2{
	width: 850px;
	margin: auto;
	font-family: Arial;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: black;
	background-color: #E6E6FA;
}

.list{
	width: 100%;
}

.button {
  background-color: #4169E1;	
  border: none;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  height: 25px;	
  font-size: 16px;
  margin: 4px 4px;
  margin-top: 80px;
  cursor: pointer;

}
.button:hover{
	background-color: Midnightblue;
}
.textclass{
	width: 320px;
	border:1px ridge;
	/*color: black;*/
	line-height: 100px;
	font-size: 40px;
	background-color: #E6E6FA;
	padding-left: 25px;
}

.show_table{
	width: 100%;
	margin: auto;
	
}

.tb {
	width: 850px;
	margin: auto;
	margin-top: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
}

.tb th, .tb td {
	border: 1px solid #ddd;
  	padding: 8px
}

.tb tr:nth-child(even){background-color: #f2f2f2;}
.tb tr:hover {background-color: #ddd;}
.tb th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

